# -----------------
# Python
# -----------------
__pycache__/
*.py[cod]
*$py.class

# virtual env
venv/
.env/
.env.*
.venv/

# pip
pip-log.txt
pip-delete-this-directory.txt

# -----------------
# Django
# -----------------
*.log
db.sqlite3
media/
staticfiles/

# migrations (optional)
# */migrations/
# !*/migrations/__init__.py

# -----------------
# Environment variables
# -----------------
.env
.env.local
.env.dev
.env.prod

# -----------------
# VSCode
# -----------------
.vscode/

# -----------------
# Mac / Linux / Windows
# -----------------
.DS_Store
Thumbs.db

# -----------------
# pytest / coverage
# -----------------
.pytest_cache/
.coverage
htmlcov/

# -----------------
# mypy / pylint
# -----------------
.mypy_cache/
.pylint.d/

# -----------------
# Node (if frontend later)
# -----------------
node_modules/

# -----------------
# Docker
# -----------------
*.pid
*.sock